<% include partials/header.ejs %>

   
<% posts.forEach(function(post){ %> 
<div class="col-md-4">
   <div class="card">
      <div id="thumbnail-img1" class="img-responsive"><img class="card-img-top" src="<%= post.img %>"></div>
      <div class="card-body bg_lightgrey">
         <h6 class="card-title garchigmedee"><%= post.title%></h6>
         <p class="secondarygrey"> 2018-04-16 </p>
         <div class="card-text blogtext">
            <%= post.desc %> 
         </div>
         <br><a href="/p/<%= post._id %>" class="readMore btn-text" postid="<%= post._id %>">Цааш унших</a>
      </div>
   </div>
</div>
<% });%>             
<% include partials/footer %>